@model crowsoftmvc.Models.BuildingQuote

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Building Quote Header Details</h1>

<div>
    <h4>Building Quote : @ViewBag.StatusMessage</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurposeOfBuilding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurposeOfBuilding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFrame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFrame)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBuildingQuote">Edit</a> |
    <a asp-action="CreateFeature" asp-route-id="@Model.IdBuildingQuote">Create New Building Feature</a> |
    <a asp-action="Index">Back to List</a>
</div>
